@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.wordle-state-empty {
    @apply bg-neutral-50 dark:bg-dark-accent !important
}

.wordle-state-correct {
    @apply bg-green-500 !important
}

.wordle-state-present {
    @apply bg-yellow-500 !important
}

.wordle-state-absent {
    @apply bg-red-500  !important
}


.hg-rows {
    @apply h-full flex flex-col
}

.hg-row {
    @apply h-full !important
}

.hg-button {
    @apply border-0 h-full ease-in-out transition-all duration-75 active:scale-95 hover:brightness-200 active:invert !important
}


.react-simple-keyboard {
    @apply justify-self-end w-full dark:bg-neutral-900 dark:text-white h-56 flex-shrink-0 !important

}